.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before {
  display: none !important;
}
.react-datepicker-popper {
  z-index: 21 !important;
}
.react-datepicker {
  border: 1px solid rgba(26, 26, 26, 0.1) !important;
  border-radius: 12px !important;
  padding: 2px;
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #1a1a1a !important;
    color: #fff !important;
  }
  .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover, .react-datepicker__year-text--selected:hover, .react-datepicker__year-text--in-selecting-range:hover, .react-datepicker__year-text--in-range:hover {
    background-color: #1a1a1a;
  }
  .react-datepicker__header {
    background-color: transparent;
    border-bottom: 1px solid rgba(26, 26, 26, 0.1);
  }
  .react-datepicker__time-container {
    border-left: 1px solid rgba(26, 26, 26, 0.1);
  }
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #1a1a1a;
  }
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #1a1a1a;
  }
}
