.react-select-noborder {
  .react-select__control {
    border: 0;
  }
}
.react-select-container.no-bg {
  .react-select__control {
    background-color: transparent;
  }
}
.react-select-container.menu-timezone {
  .react-select__menu {
    min-width: 500px;
  }
}
.react-select-container.align-right {
  .react-select__control {
    text-align: right;
  }
}

.react-select-container {
  * {
    box-shadow: none;
    border: none;
  }
  .react-select__control {
    box-shadow: none;
    border-radius: 8px;
    border-color: rgba(26, 26, 26, 0.1);
    font-size: 14px;
    height: 40px;
    &:hover {
      border-color: rgba(26, 26, 26, 1);
    }
    .react-select__placeholder {
      color: rgba(26, 26, 26, 0.4);
    }
    .react-select__indicator-separator {
      display: none;
    }
    .react-select__value-container {
      padding-left: 8px;
    }
    .react-select__dropdown-indicator {
      transform: rotate(0deg);
      transition: all 300ms;
    }
    &--menu-is-open {
      .react-select__dropdown-indicator {
        transform: rotate(180deg);
      }
    }

  }
  &.hauto {
    .react-select__control {
      height: auto;
    }
  }
  .react-select__single-value {
    color: #1a1a1a;
  }
  .react-select__menu,
  .react-select__menu-list {
    border-radius: 8px;
  }
  .react-select__menu {
    padding: 12px;
    padding-bottom: 4px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    min-width: 100%;
    width: auto;
  }
  .react-select__option {
    font-size: 14px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
    margin-bottom: 4px;
    &:hover {
      background-color: #efefef;
    }
    &--is-focused {
      background-color: transparent;
    }
    &--is-selected {
      background-color: #efefef;
      color: #1a1a1a !important;
      &:hover {
        background-color: #efefef;
      }
    }
  }
  .react-select__multi-value {
    background-color: #efefef;
    border-radius: 4px;
    > div:first-of-type {
      padding: 6px;
    }
  }
  .react-select__multi-value__remove {
    &:hover {
      background-color: transparent;
      color: #1a1a1a;
    }
  }
}
.height-sm {
  height: 40px;
  .react-select__control {
    height: 40px;
  }
}